<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">

            <a
                href="https://img.vietqr.io/image/970422-61704397979-compact.png?amount={{course.price}}&addInfo={{course.slug}}"
                class="btn btn-primary"
                target="_blank"
            >
                Học Ngay giá chỉ
                {{course.price}}đ</a>
        </div>
        <div class="col-lg-9">
            <h2>{{course.title}}</h2>
            <iframe
                width="640"
                height="360"
                src="https://www.youtube.com/embed/{{course.videoID}}"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
            ></iframe>
            <p>{{course.description}}</p>
        </div>
    </div>

</div>